h1{
    text-decoration: none;
    color: black;


}
#resumo{
    text-decoration: none;
    font-weight: 900;

}
body{
    background-color: rgba(184, 180, 180, 0.705);
}

.estilo-destacado{
    color: rgb(84, 145, 214);
    font-weight: 900;

}git 

.tamanho30px{
    font-size: 20px;
}

.imagemRedonda{
    border-radius: 20%;
}

.button{
    padding: 30px;
    background-color: rgb(84, 145, 214);
    border-radius: 20px;
    line-height: 40px;
    text-decoration: none;
    color: black;
}
