h1 {
  text-decoration: none;
  color: black;
}

body {
    background-color: rgba(184, 180, 180, 0.705);
}

div {
    border: 2px solid black;
    
}

.resumo-pessoal {
  text-decoration: none;
  font-weight: 900;
  text-align: justify;
  padding: 100px 500px 10px 10px;
  
  
}

.barraDeMenu{
    height: auto;
    display: inline-flex; 
    position: relative;
}

.meuNome {
    height: auto;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}

.estilo-destacado {
  color: rgb(84, 145, 214);
  font-weight: 900;
}

.tamanho30px {
  font-size: 20px;
}

.imagemRedonda {
  border-radius: 20%;
  margin: 10px;
  background-color: rgb(222, 222, 222);
  padding: 10px;  
}

.imagemRedonda:hover{
  margin: none ;
  background-color:white;
 

}

.button {
  padding: 15px;
  background-color: rgb(84, 145, 214);
  border-radius: 10px;
  line-height: 40px;
  text-decoration: none;
  color: black;
  margin: 10px;
  transition: 0.5; 
  
}

.imagem-e-resumo{
  display: inline-flex;
  position: relative;

}

.button:hover{
  padding: 17px;
  background-color: rgb(94, 155, 224);
  
}